bin/
obj/
.vs/
*.suo
Backend/QuanLyPhongKham.WebAPI/.vs/ProjectEvaluation/quanlyphongkham.webapi.metadata.v7.bin
Backend/QuanLyPhongKham.WebAPI/.vs/QuanLyPhongKham.WebAPI/v17/.suo
Backend/QuanLyPhongKham.WebAPI/.vs/QuanLyPhongKham.WebAPI/v17/.futdcache.v2
